html * {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.upload {
    &__box {
        padding: 40px;
    }
    &__inputfile {
        width: .1px;
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    &__btn {
        display: inline-block;
        font-weight: 600;
        color: #fff;
        text-align: center;
        min-width: 116px;
        padding: 5px;
        transition: all .3s ease;
        cursor: pointer;
        border: 2px solid;
        background-color: #4045ba;
        border-color: #4045ba;
        border-radius: 10px;
        line-height: 26px;
        font-size: 14px;
        &:hover {
            background-color: unset;
            color: #4045ba;
            transition: all .3s ease;
        }
        &-box {
            margin-bottom: 10px;
        }
    }
    &__img {
        &-wrap {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
        }
        &-box {
            width: 30%;
            padding: 0.2rem;
            float: left;
        }
    }
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

.upload__img-box {
    width: 30% !important;
    float: left !important;
    padding: 0.2rem !important;
}

.upload__img-close {
    /* width: 10% !important; */
    float: left !important;
    padding: 0.2rem !important;
    background-color: #ffffff70 !important;
    position: absolute !important;
    position: absolute;
    right: 0px;
    text-align: center;
    z-index: 1;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    /* &:after {
                content: '\2716';
                font-size: 14px;
                color: rgb(255, 0, 0);
            } */
}