.m-form .m-form__group {
	padding-top: 10px;
	padding-bottom: 10px;
}

.m-hidden {
	display: none;
}

.m-datatable.m-datatable--default.m-datatable--scroll > .m-datatable__table {
	min-height: 100px !important;
}

.list-image {
	margin: 6px;
}

.list-image a:hover {
	cursor: pointer;
}

.list-image img {
	width: 120px;
	height: 120px;
	border-radius: 5px;
}

.list-image .close-topup {
	padding: 2px;
	background-color: red;
	color: white;
	border-radius: 50%;
	position: absolute;
	margin-left: -6px;
	margin-top: -6px;
}

.note-editable {
	height: 500px;
}

.preview-image {
	margin: 10px 0 10px 0;
}

.preview-video {
	margin: 10px 0 10px 0;
}

.treatment-info-table td {
	padding-left: 0;
}

.treatment-info-table td:nth-child(1) {
	width: 25%;
	font-weight: bold;
}

.price-list-wrapper {
	position: relative;
}

.remove-price-record {
	margin: 20px 0 0 50%;
	transform: translate(-50%, -50%);
}
